In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("mempool.csv")
data.head()

,tx_id,fee,weight,parents
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5214 entries, 0 to 5213
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tx_id     5214 non-null   object
 1   fee       5214 non-null   int64
 2   weight    5214 non-null   int64
 3   parents   2000 non-null   object
dtypes: int64(2), object(2)
memory usage: 163.1+ KB

In [ ]:
def sort_transactions(data, fee, weight):
    data = data.sort_values([fee, weight], ascending=[False, True]).reset_index(drop=True)
    return data

In [ ]:
def adding_to_block(trans):
    global min_weight
    tx_id = trans[0]
    fee = trans[1]
    weight = trans[2]
    parents = trans[3]
    min_weight = min_weight + weight
    final_list.append(tx_id)

In [ ]:
def driver_function(data):
    rows = sort_transactions(data, "fee", "weight")
    length = len(rows)
    for i in range(length):
        txn = rows.loc[i]
        #Checking weight constraint
        if min_weight + txn['weight'] <= highest_weight:
            #Checking in List
            if (not str(txn) in final_list):
                #Checking Parent: Null in Dataframe replaced by NaN
                if str(txn['parents']) != "NaN":
                    parents_ = str(txn['parents']).split(";")
                    for parent in parents_:
                        if str(parent) in final_list:
                            continue
                        else:
                            tx_id = data[data['tx_id'] == parent].index.item()
                            x = data.loc(tx_id)